[submodule "themes/hugo-webslides"]
	path = themes/hugo-webslides
	url = https://github.com/rcjach/hugo-webslides.git
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
