{{- $gaID := "" -}}
{{- if isset .Site "GoogleAnalytics" -}}
  {{- $gaID = .Site.Config.Services.GoogleAnalytics.ID -}}
{{- else if isset .Site.Params "GoogleAnalytics" -}}
  {{- $gaID = .Site.Config.Services.GoogleAnalytics.ID -}}
{{- else if isset .Site.Params.marketing "google_analytics" -}}
  {{- $gaID = .Site.Params.marketing.google_analytics -}}
{{- end -}}

{{- if $gaID -}}
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ $gaID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ $gaID }}');
</script>
{{- end -}}
