<nav class="navbar navbar-expand-lg navbar-light compensate-for-scrollbar" id="navbar-main">
  <div class="container-xl">
    
    <div class="d-none d-lg-inline-flex">
      <a class="navbar-brand" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
    </div>
    
    <button type="button" class="navbar-toggler" data-toggle="collapse"
            data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fas fa-bars"></i></span>
    </button>
    
    <div class="navbar-brand-mobile-wrapper d-inline-flex d-lg-none">
      <a class="navbar-brand" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
    </div>
    
    <div class="navbar-collapse main-menu-item collapse justify-content-end" id="navbar-content">
      <ul class="navbar-nav d-md-inline-flex">
        
        <li class="nav-item">
          <a class="nav-link" href="{{ "/" | relLangURL }}">Home</a>
        </li>
        
        {{ if .Site.Params.main_menu.show_search }}
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal">
            <i class="fas fa-search"></i>
          </a>
        </li>
        {{ end }}
        
        {{ if .Site.Params.main_menu.show_day_night }}
        <li class="nav-item dropdown theme-dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-label="Display preferences">
            <i class="fas fa-moon" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item js-set-theme-light">
              <span>Light</span>
            </a>
            <a href="#" class="dropdown-item js-set-theme-dark">
              <span>Dark</span>
            </a>
            <a href="#" class="dropdown-item js-set-theme-auto">
              <span>Automatic</span>
            </a>
          </div>
        </li>
        {{ end }}
        
      </ul>
    </div>
  </div>
</nav>
